.container{
width:100vw;
height:97vh;
background:linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)),url("https://cdn.pixabay.com/photo/2021/02/08/12/40/lasagna-5994612_960_720.jpg")center/cover no-repeat;
display:flex;
align-items:center;
justify-content:center;
}
.wrapper{
    padding:20px;
width:40%;
background-color:white;
border-radius:10px;
border:2px solid teal;
}
.title{
    font-weight:300;
}
.form{
    display:flex;
flex-wrap:wrap;
}
.loginInput{
    flex:1;
min-width:40%;
margin:20px 10px 0 0;
padding:10px;
}
.agreement{
    font-size:12px;
margin:20px 0;
}
.button{
    width:40%;
border:none;
padding:15px 20px;
background-color:teal;
color:white;
cursor:pointer;
}